
* {
    outline: none;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #1ea0f0;
}

.CallsignContainer {
    margin: 30px 0;
    text-align: center;
}
.CallsignTitleZh {
    font-family: "方正小标宋_GBK";
    color: #333;
    font-size: 22px;
    margin-bottom: 3px;
}
.CallsignTitleEn {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:#888;
    font-size: 16px;
}
.Callsign {
    margin: 5px auto;
    font-size: 50px;
    font-weight: bold;

    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    /* background: linear-gradient(to right, rgb(255, 94, 134), rgb(210, 162, 255), rgb(36, 200, 255)); */
    background: linear-gradient(to right, #8471d1, #6285d7,#66c3e2);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.Location {
    color: #888;
    text-align: center;
    margin: 10px;
    font-size: 16px;
}


.SectionHeader {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1ea0f0;
    margin: 30px 0;
    padding: 12px 0;
    background: linear-gradient(90deg, #ffffff, #eff9ff, #ffffff);
}
.SectionHeaderComment {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    font-weight: normal;
    color: #aaa;
    padding-top: 5px;
    font-variant-caps: small-caps;
}
.SectionContent {
    text-align: center;
}


.RigInfo {
    margin: 25px 0;
}
.RigTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 3px 0;
}
.RigSubtitle {
    font-size: 14px;
    color: #aaa;
    margin: 3px 0;
}
.RigIntro {
    text-align: center;
    max-width: 650px;
    margin: 10px auto;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
.StationLog {
    text-align: center;
    max-width: 1000px;
    margin: 10px auto;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
.StationLog table {
    width: 100%;
    border-collapse: collapse;
}
.StationLog td, .StationLog th {
    font-family: 'Consolas', Courier, monospace;
    border: 1px solid #ccc;
}
.Timeline {
    text-align: center;
    max-width: 650px;
    margin: 10px auto;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
.Timeline table {
    border-collapse: collapse;
    margin: 0 auto;
}
.Timeline th {
    padding-right: 10px;
    text-align: right;
}
.Timeline td {
    padding-left: 10px;
    text-align: left;
}
.Timeline td, .Timeline th {
    border: none;
}
p, ul, ol, summary {
    margin: 15px 15px;
    text-align: left;
}
summary {
    font-weight: bold;
    color: #1ea0f0;
}
ul {
    padding-inline-start: 20px;
}

@media(min-width:651px) { /* Desktop */
    .Image {
        margin: 10px 0;
        max-width: 90%;
        max-height: 800px;
        vertical-align: middle;
        border: none;
        border-radius: 5px;
    }
}
@media(max-width:650px) { /* Mobile */
    .Image {
        margin: 10px 0;
        max-width: 320px;
        max-height: 800px;
        vertical-align: middle;
        border: none;
        border-radius: 5px;
    }
}
